.main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.backgroundWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
}