.section {
  background-color: rgba(17, 17, 17, 0.8);
  /* Semi-transparent */
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 6rem 1.5rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.programName {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-accent-yellow);
  margin-bottom: 1.5rem;
}

.description {
  font-size: 1.25rem;
  color: #aaa;
  margin-bottom: 3rem;
}

.benefits {
  list-style: none;
  display: inline-block;
  text-align: left;
}

.benefitItem {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #ddd;
}

.check {
  flex-shrink: 0;
}